@import '~@/styles/index';

.sidebar {
  &__paper {
    margin-top: 65px;
    background-color: $athensGrayColor;
    width: 220px;
    height: 100%;
    &--mobile {
      margin-top: 0;
    }
  }
  &__link {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    &--active {
      svg {
        transform: scale(1.1);
        fill: $mountainMeadowColor;
      }
    }
  }
}
