@import '~@/styles/index';

.login {
  padding: 2rem;
  margin: auto;
  &__form {
    width: 100%;
    border-bottom: 1px solid rgba($blackColor, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    &-input {
      margin-top: 1rem;
      margin-bottom: 1rem;
      &--button {
        button {
          &:first-of-type {
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}