.login {
  height: 100%;
  &__wrapper {
    background-color: white;
    padding: 4.25rem 1.25rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  }
}