@import '~@/styles/index';

.login {
  padding: 2rem;
  margin: auto;
  &__form {
    width: 100%;
    &-input {
      margin-top: 1rem;
      margin-bottom: 1rem;
      &--button {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}