@import '~@/styles/index';

.main-layout {
  height: 100%;
  padding-left: 220px;
  padding-top: 64px;
  background-color: $whiteColor;
  &--mobile {
    padding-left: 0;
  }
  &__content {
    min-height: calc(100% - 64px);
    padding: 20px;
    width: 100%;
  }
}