@import '~@/styles/index';

.register-user {
  @media (min-width: 960px) {
    width: 415px;
  }
  &__form {
    padding-bottom: 1rem;
  }
  &__input {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    &--gutter {
      @media (min-width: 960px) {
        &:first-of-type {
          padding-right: 0.55rem;
        }
        &:last-of-type {
          padding-left: 0.55rem;
        }
      }
    }
  }
  &__buttons {
    margin-top: 1.5rem;
  }
}