@import '~@/styles/index';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    outline: none;
  }
  &__header {
    position: relative;
    width: 100%;
    background-color: $mountainMeadowColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba($mountainMeadowColor, .1);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: $athensGrayColor;
    h2 {
      margin: 0;
    }
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  &__body {
    padding: 1rem;
    background-color: $athensGrayColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba($mountainMeadowColor, .1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 450px;
    overflow-y: auto;
    p {
      margin: 0;
    }
  }
}