html,
body,
#main {
  height: 100%;
}

// Roboto
@font-face {
  font-family: 'Roboto';
  src: url('~@/fonts/Roboto-Regular.ttf') format('truetype');
}
// Roboto Bold
@font-face {
  font-family: 'Roboto Bold';
  src: url('~@/fonts/Roboto-Bold.ttf') format('truetype');
}

// Kalam
@font-face {
  font-family: 'Kalam';
  src: url('~@/fonts/Kalam-Regular.ttf') format('truetype');
}

// Kalam Bold
@font-face {
  font-family: 'Kalam Bold';
  src: url('~@/fonts/Kalam-Bold.ttf') format('truetype');
}

// Kalam Light
@font-face {
  font-family: 'Kalam Light';
  src: url('~@/fonts/Kalam-Light.ttf') format('truetype');
}

